<!DOCTYPE html>
<html>
<head>
    <title>HUSTLib - Thư viện của sinh viên BKHN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
</head>
<body>

<div class="banner">
    <img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
    <div class="banner-login">
        <a id="link-cart" href="/cart_page">Giỏ mượn</a>
        <a id="link-group" href="/chat_group_page">Hội nhóm</a>
        <a id="link-profile" href="/profile_page">Hồ sơ</a>
        <a id="link-login" href="/login_page">Đăng nhập</a>
        <a id="link-signup" href="/signup_page">Đăng ký</a>
    </div>
</div>
<div class="navbar">
    <a id="link-homepage" href="/">Trang chủ</a>
    <a id="link-intro" href="intro.html">Giới thiệu</a>
    <a id="link-search" href="/search_page">Tra cứu</a>
    <a id="link-stats" href="/stats_page">Thống kê</a>
</div>

<div class="container">
    <div class="func">
        <a id="link-searchbook" href="search_book.html">Tra cứu sách</a><br>
        <a id="link-searchuser" href="search_user.html">Tra cứu người dùng</a><br>
        <a id="link-searchgroup" href="search_group.html">Tra cứu hội nhóm</a>
    </div>
    <div class="main">
        <div class="main-book_info">
            <div class="book_info-image"><img src="{{ url_for('static', filename='images/book_placeholder.png') }}"></div>
            <div class="book_info-name">{{ book_info['title'] }}</div>
            <div class="book_info-categories">{{ book_info['categoryname'] }}</div>
            <div class="book_info-authors">{{ book_info['authorname'] }}</div>
            <div class="book_info-publish_year">Năm xuất bản: {{ book_info['publishyear'] }}</div>
            <div class="book_info-rent_count">Lượt mượn: {{ book_info['numborrowedbooks']}}</div>
            <div class="book_info-rating">
                <span>⭐</span><span>{{ book_info['averagerate'] or 'Chưa có đánh giá' }}</span><span>/5 (</span><span>{{ book_info['numratedbook'] }}</span><span>)</span>
            </div>
            <div class="book_info-rent">
                <button type="submit">Đưa vào giỏ mượn</button>
            </div>
            <div class="book_info-quantity">Còn: <span>{{ book_info['quantity'] }}</span></div>
        </div>

        <div class="book_info-same_authors_header"><p>Sách cùng tác giả</p></div>
        <div class="book_info-same_authors">
            <div class="list-book">
                {% for same_author_book in same_author_books %}
                <a href="/book_info_page/{{ same_author_book['book_id'] }}">
                    <img src="{{ same_author_book['image_url'] }}"><br>
                    <span>{{ same_author_book['title'] }}</span><br>
                    <span>{{ same_author_book['authors'] }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="book_info-same_categories_header"><p>Sách cùng thể loại</p></div>
        <div class="book_info-same_categories">
            <div class="list-book">
                {% for same_category_book in same_category_books %}
                <a href="/book_info_page/{{ same_category_book['book_id'] }}">
                    <img src="{{ same_category_book['image_url'] }}"><br>
                    <span>{{ same_category_book['title'] }}</span><br>
                    <span>{{ same_category_book['authors'] }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="right">
        <div class="add_comment_cell">
            <div class="star_pick">
                <button type="submit">0⭐</button>
                <button type="submit">1⭐</button>
                <button type="submit">2⭐</button>
                <button type="submit">3⭐</button>
                <button type="submit">4⭐</button>
                <button type="submit">5⭐</button>
            </div>
            <textarea placeholder="Nhận xét"></textarea>
            <button type="submit">Gửi đánh giá</button>
        </div><hr>
        <div class="comment_cell">
            <b><span>Nguyễn Văn A</span> |
                <span>12:04:35 12/10/2024</span></b><br>
            <span>⭐</span><span>5</span><span>/5</span><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae ligula varius, eleifend arcu a, lacinia eros. Proin magna tellus, tincidunt porttitor gravida faucibus, pretium ac lacus. Ut bibendum orci velit. Etiam id velit nec orci condimentum bibendum mollis ac purus. Phasellus accumsan eleifend convallis.</span>
        </div><hr>
        <div class="comment_cell">
            <b><span>Trần Thị B</span> |
                <span>12:04:35 12/10/2024</span></b><br>
            <span>⭐</span><span>4</span><span>/5</span><br>
            <span>Curabitur accumsan, dui eget mattis sodales, arcu sem ullamcorper ipsum, vitae rhoncus quam est in quam. Morbi eu nisi ac ligula dapibus condimentum sed ac arcu. Sed ultrices ante eu lacinia elementum. Morbi consectetur lobortis ultricies. Fusce id bibendum justo.</span>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>

</body>
</html>
