<!DOCTYPE html>
<html>
<head>
	<title>HUSTLib - Thư viện của sinh viên BKHN</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
		<!-- <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
			<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'> -->
		</head>
		<body>

			<div class="banner">
				<img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
				<div class="banner-login">
					<a id="link-cart" href="/cart_page">Giỏ mượn</a>
					<a id="link-group" href="/chat_group_page">Hội nhóm</a>
					<a id="link-profile" href="/profile_page">Hồ sơ</a>
					<a id="link-login" href="/login_page">Đăng nhập</a>
					<a id="link-signup" href="/signup_page">Đăng ký</a>
				</div>
			</div>
			<div class="navbar">
				<a id="link-homepage" href="/">Trang chủ</a>
				<a id="link-intro" href="intro.html">Giới thiệu</a>
				<!-- <a id="link-news" href="index.html">Tin tức</a> -->
				<a id="link-search" href="/search_page">Tra cứu</a>
				<a id="link-stats" href="index.html">Thống kê</a>
			</div>

			<div class="container">
				<div class="func">
					<a id="link-searchbook" href="search_book.html">Tra cứu sách</a><br>
					<a id="link-searchuser" href="search_user.html">Tra cứu người dùng</a><br>
					<a id="link-searchgroup" href="search_group.html">Tra cứu hội nhóm</a>
				</div>
				<div class="main">
					<div class="main-book_info">
						<div class="book_info-image"><img src="image/book_placeholder.png"></div>
						<div class="book_info-name">Nhập môn các phương pháp tối ưu</div>
						<div class="book_info-categories">Giáo trình, tài liệu chuyên ngành</div>
						<div class="book_info-authors">Lê Quang Thủy, Nguyễn Thị Bạch Kim</div>
						<div class="book_info-publish_year">Năm xuất bản: 2024</div>
						<div class="book_info-rent_count">Lượt mượn: 5</div>
						<div class="book_info-rating">
							<span>⭐</span><span>4.5</span><span>/5 (</span><span>2</span><span>)</span>
						</div>
						<div class="book_info-rent">
							<button type="submit">Đưa vào giỏ mượn</button>
						</div>
						<div class="book_info-quantity">Còn: <span>200</span></div>
						<div class="book_info-same_authors_header"><p>Sách cùng tác giả</p></div>
						<div class="book_info-same_authors">
							<div class="list-book">
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Phát triển lĩnh vực công nghệ tài chính (FinTech) của Trung Quốc và một số hàm ý đối với Việt Nam</span><br>
									<span>Author name 1</span>
								</a>
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Book name</span><br>
									<span>Author name 1</span>
								</a>
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Book name</span><br>
									<span>Author name 1</span>
								</a>
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Book name</span><br>
									<span>Author name 1</span>
								</a>
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Book name</span><br>
									<span>Author name 1</span>
								</a>
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Book name</span><br>
									<span>Author name 1</span>
								</a>
							</div>
						</div>
						<div class="book_info-same_categories_header"><p>Sách cùng thể loại</p></div>
						<div class="book_info-same_categories">
							<div class="list-book">
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Phát triển lĩnh vực công nghệ tài chính (FinTech) của Trung Quốc và một số hàm ý đối với Việt Nam</span><br>
									<span>Author name 1</span>
								</a>
								<a href="index.html">
									<img src="image/book_placeholder.png"><br>
									<span>Book name</span><br>
									<span>Author name 1</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="right">
					<div class="add_comment_cell">
						<div class="star_pick">
							<button type="submit">0⭐</button>
							<button type="submit">1⭐</button>
							<button type="submit">2⭐</button>
							<button type="submit">3⭐</button>
							<button type="submit">4⭐</button>
							<button type="submit">5⭐</button>
						</div>
						<textarea placeholder="Nhận xét"></textarea>
						<button type="submit">Gửi đánh giá</button>
					</div><hr>
					<div class="comment_cell">
						<b><span>Nguyễn Văn A</span> |
							<span>12:04:35 12/10/2024</span></b><br>
							<span>⭐</span><span>5</span><span>/5</span><br>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae ligula varius, eleifend arcu a, lacinia eros. Proin magna tellus, tincidunt porttitor gravida faucibus, pretium ac lacus. Ut bibendum orci velit. Etiam id velit nec orci condimentum bibendum mollis ac purus. Phasellus accumsan eleifend convallis.</span>
						</div><hr>
						<div class="comment_cell">
							<b><span>Trần Thị B</span> |
								<span>12:04:35 12/10/2024</span></b><br>
								<span>⭐</span><span>4</span><span>/5</span><br>
								<span>Curabitur accumsan, dui eget mattis sodales, arcu sem ullamcorper ipsum, vitae rhoncus quam est in quam. Morbi eu nisi ac ligula dapibus condimentum sed ac arcu. Sed ultrices ante eu lacinia elementum. Morbi consectetur lobortis ultricies. Fusce id bibendum justo.</span>
							</div>
						</div>
						
					</div>

					<script type="text/javascript">
					</script>

				</body>
				</html>