<!DOCTYPE html>
<html>
<head>
    <title>HUSTLib - Thư viện của sinh viên BKHN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
</head>
<body>

<div class="banner">
    <img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
    <div class="banner-login">
        <a id="link-cart" href="/cart_page">Giỏ mượn</a>
        <a id="link-group" href="/chat_group_page">Hội nhóm</a>
        <a id="link-profile" href="/profile_page">Hồ sơ</a>
        <a id="link-login" href="/login_page">Đăng nhập</a>
        <a id="link-signup" href="/signup_page">Đăng ký</a>
    </div>
</div>
<div class="navbar">
    <a id="link-homepage" href="/">Trang chủ</a>
    <a id="link-intro" href="intro.html">Giới thiệu</a>
    <a id="link-search" href="/search_page">Tra cứu</a>
    <a id="link-stats" href="/stats_page">Thống kê</a>
</div>

<div class="container">
    <div class="func">
        <a id="link-searchbook" href="search_book.html">Tra cứu sách</a><br>
        <a id="link-searchuser" href="search_user.html">Tra cứu người dùng</a><br>
        <a id="link-searchgroup" href="search_group.html">Tra cứu hội nhóm</a>
    </div>
    <div class="main">
        {% for book in cart_books %}
        <div class="main-book">
            <div class="book-rent-stt">{{ loop.index }}</div>
            <div class="book-name">{{ book[1] }}</div>
            <div class="book-authors">{{ book[2] }}</div>
            <div class="book-remove"><button>Xóa</button></div>
        </div>
        {% endfor %}
        <div class="main-buttons">
            <div class="button-confirm"><button>Xác nhận mượn</button></div>
            <div class="button-delete"><button>Xóa toàn bộ</button></div>
        </div>
    </div>

    <div class="right">
        
    </div>
    
</div>

<script type="text/javascript">
</script>

</body>
</html>
