<!DOCTYPE html>
<html>
	<head>
		<title>HUSTLib - Thư viện của sinh viên BKHN</title>
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
		<!-- <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'> -->
	</head>
	<body>

		<div class="banner">
			<img src="static/images/banner.png" class="banner-image">
			<div class="banner-login">
				<a id="link-cart" href="templates/login.html">Giỏ mượn</a>
				<a id="link-group" href="templates/signup.html">Hội nhóm</a>
				<a id="link-profile" href="templates/signup.html">Hồ sơ</a>
				<a id="link-login" href="templates/login.html">Đăng nhập</a>
				<a id="link-signup" href="templates/signup.html">Đăng ký</a>
			</div>
		</div>
		<div class="navbar">
			<a id="link-homepage" href="templates/index.html">Trang chủ</a>
			<a id="link-intro" href="templates/intro.html">Giới thiệu</a>
			<a id="link-news" href="templates/index.html">Tin tức</a>
			<a id="link-search" href="templates/search_book.html">Tra cứu</a>
			<a id="link-stats" href="templates/index.html">Thống kê</a>
		</div>

		<div class="container">
 			<div class="func">
 				<a id="link-rent" href="templates/index.html">Mượn sách online</a><br>
				<a id="link-rate" href="templates/cubing.html">Đánh giá sách</a><br>
				<a id="link-searchbook" href="templates/index.html">Tra cứu sách</a><br>
				<a id="link-searchuser" href="templates/index.html">Tra cứu người dùng</a><br>
				<a id="link-creategroup" href="templates/index.html">Tạo hội nhóm</a><br>
				<a id="link-searchgroup" href="templates/index.html">Tra cứu hội nhóm</a>
 			</div>
  			<div class="main">
  				<a id="link-title" href="templates/index.html">Chuyên mục sách tháng 5</a><br>
  			</div>  
  			<div class="right">
  				<div>BXH người dùng nổi bật</div>
  				<div>BXH sách nổi bật</div>
  			</div>
		</div>

		<script type="text/javascript">
		</script>

	</body>
</html>