<!DOCTYPE html>
<html>
<head>
    <title>HUSTLib - Thư viện của sinh viên BKHN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
</head>
<body>
    <div class="banner">
        <img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
        <div class="banner-login">
            <a id="link-login" href="/login_page">Đăng nhập</a>
            <a id="link-signup" href="/signup_page">Đăng ký</a>
        </div>
    </div>
    <div class="navbar">
     <a id="link-homepage" href="/">Trang chủ</a>
     <a id="link-intro" href="intro.html">Giới thiệu</a>
     <!-- <a id="link-news" href="index.html">Tin tức</a> -->
     <a id="link-search" href="/search_page">Tra cứu</a>
     <a id="link-stats" href="/stats_page">Thống kê</a>
 </div>
 <div class="container">
    <div class="func"></div>
    <div class="main">
        <form method="post" action="{{ url_for('login') }}">
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" required>

            <label for="password"><b>Mật khẩu</b></label>
            <span class="psw"><a href="#">Quên mật khẩu?</a></span>
            <input type="password" name="password" required>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Ghi nhớ tôi
            </label>

            <button type="submit">Đăng nhập</button>
            <span class="psw">Chưa có tài khoản? <a href="#">Đăng ký</a>!</span>
        </form>
    </div>
    <div class="right"></div>
</div>
</body>
</html>
