<!DOCTYPE html>
<html>
<head>
    <title>HUSTLib - Thư viện của sinh viên BKHN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
</head>
<body>

    <div class="banner">
        <img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
        <div class="banner-login">
            <a id="link-cart" href="/cart_page">Giỏ mượn</a>
            <a id="link-group" href="/chat_group_page">Hội nhóm</a>
            <a id="link-profile" href="/profile_page">Hồ sơ</a>
            <a id="link-login" href="/login_page">Đăng nhập</a>
            <a id="link-signup" href="/signup_page">Đăng ký</a>
        </div>
    </div>
    <div class="navbar">
        <a id="link-homepage" href="/">Trang chủ</a>
            <a id="link-intro" href="intro.html">Giới thiệu</a>
            <!-- <a id="link-news" href="index.html">Tin tức</a> -->
            <a id="link-search" href="/search_page">Tra cứu</a>
            <a id="link-stats" href="/stats_page">Thống kê</a>
    </div>

    <div class="container">
        <div class="func"></div>
        <div class="main">
            <div class="main-subdiv">
                <div class="prof-img"><img src="static/images/user_placeholder.png"></div>
                <div class="prof-text">
                    <table>
                        <tr>
                            <td>Tên</td>
                            <td>Văn A</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>Họ</td>
                            <td>Nguyễn</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>M</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>Ngày sinh</td>
                            <td>12/10/2004</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>18 Giải Phóng, Hai Bà Trưng, Hà Nội</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>0885994446</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>abc.de225678@sis.hust.edu.vn</td>
                            <td><button>thay đổi</button></td>
                        </tr>
                        <tr>
                            <td>Ngày tạo tài khoản</td>
                            <td>1/4/2024</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Thêm các thông tin cá nhân khác tùy theo nhu cầu -->
            <div class="main-buttons">
                <button class="btn-red">Đổi mật khẩu</button> <!-- Đặt href để đăng xuất -->
                <button class="btn-red" href="/logout">Đăng xuất</button>
            </div>
            <div class="main-subdiv">
                <div class="booklist_header"><p>Sách đã mượn</p></div>
                <div class="booklist">
                    <div class="list-book">
                        <a href="index.html">
                            <img src="image/book_placeholder.png"><br>
                            <span>Phát triển lĩnh vực công nghệ tài chính (FinTech) của Trung Quốc và một số hàm ý đối với Việt Nam</span><br>
                            <span>Author name 1</span>
                        </a>
                        <a href="index.html">
                            <img src="image/book_placeholder.png"><br>
                            <span>Book name</span><br>
                            <span>Author name 1</span>
                        </a>
                        <a href="index.html">
                            <img src="image/book_placeholder.png"><br>
                            <span>Book name</span><br>
                            <span>Author name 1</span>
                        </a>
                        <a href="index.html">
                            <img src="image/book_placeholder.png"><br>
                            <span>Book name</span><br>
                            <span>Author name 1</span>
                        </a>
                        <a href="index.html">
                            <img src="image/book_placeholder.png"><br>
                            <span>Book name</span><br>
                            <span>Author name 1</span>
                        </a>
                        <a href="index.html">
                            <img src="image/book_placeholder.png"><br>
                            <span>Book name</span><br>
                            <span>Author name 1</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-subdiv">
                <div class="ratelist_header"><p>Đánh giá đã thực hiện</p></div>
                <div class="ratelist">
                    <div class="list-rate">
                        <a href="index.html">
                            <br>
                            <div>Phát triển lĩnh vực công nghệ tài chính (FinTech) của Trung Quốc và một số hàm ý đối với Việt Nam</div><br>
                            <div>⭐5/5</div>
                            <div>12:04:35 12/10/2024</div>
                        </a>
                        <a href="index.html">
                            <br>
                            <div>Book name</div><br>
                            <div>⭐5/5</div>
                            <div>12:04:35 12/10/2024</div>
                        </a>
                        <a href="index.html">
                            <br>
                            <div>Book name</div><br>
                            <div>⭐5/5</div>
                            <div>12:04:35 12/10/2024</div>
                        </a>
                        <a href="index.html">
                            <br>
                            <div>Book name</div><br>
                            <div>⭐5/5</div>
                            <div>12:04:35 12/10/2024</div>
                        </a>
                        <a href="index.html">
                            <br>
                            <div>Book name</div><br>
                            <div>⭐5/5</div>
                            <div>12:04:35 12/10/2024</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
        <div class="right"></div>
    </div>

</body>
</html>
