<!DOCTYPE html>
<html>
<head>
    <title>HUSTLib - Thư viện của sinh viên BKHN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
</head>
<body>

    <div class="banner">
        <img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
        <div class="banner-login">
            <a id="link-cart" href="/cart_page">Giỏ mượn</a>
            <a id="link-group" href="/chat_group_page">Hội nhóm</a>
            <a id="link-profile" href="/profile_page">Hồ sơ</a>
            <a id="link-login" href="/login_page">Đăng nhập</a>
            <a id="link-signup" href="/signup_page">Đăng ký</a>
        </div>
    </div>
    <div class="navbar">
        <a id="link-homepage" href="/">Trang chủ</a>
            <a id="link-intro" href="intro.html">Giới thiệu</a>
            <!-- <a id="link-news" href="index.html">Tin tức</a> -->
            <a id="link-search" href="/search_page">Tra cứu</a>
            <a id="link-stats" href="index.html">Thống kê</a>
    </div>

    <div class="container">
        <div class="func"></div>
        <div class="main">
            <!-- <h2>Thông tin cá nhân</h2>
            <p>Xin chào, {{ user['FirstName'] }} {{ user['LastName'] }}!</p>
            <p>Email: {{ user['Email'] }}</p> -->
            <!-- Thêm các thông tin cá nhân khác tùy theo nhu cầu -->
            <a href="/logout">Đăng xuất</a> <!-- Đặt href để đăng xuất -->
        </div>  
        <div class="right"></div>
    </div>

</body>
</html>
