<!DOCTYPE html>
<html>
<head>
	<title>HUSTLib - Thư viện của sinh viên BKHN</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
		<!-- <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
			<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'> -->
		</head>
		<body>

			<div class="banner">
				<img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
				<div class="banner-login">
          <a id="link-group" href="/search_rent_page">Quản lí</a>
					<a id="link-cart" href="/cart_page">Giỏ mượn</a>
					<a id="link-group" href="/chat_group_page">Hội nhóm</a>
					<a id="link-profile" href="/profile_page">Hồ sơ</a>
					<a id="link-login" href="/login_page">Đăng nhập</a>
					<a id="link-signup" href="/signup_page">Đăng ký</a>
				</div>
			</div>
			<div class="navbar">
				<a id="link-homepage" href="/">Trang chủ</a>
				<a id="link-intro" href="intro.html">Giới thiệu</a>
				<!-- <a id="link-news" href="index.html">Tin tức</a> -->
				<a id="link-search" href="/search_page">Tra cứu</a>
				<a id="link-stats" href="/stats_page">Thống kê</a>
			</div>

			<div class="container">
				<div class="func">
					<a id="link-searchbook" href="/search_rent_page">Quản lí đơn mượn</a><br>
          <a id="link-searchuser" href="/book_manage_page">Cập nhật CSDL sách</a><br>
          <a id="link-searchuser" href="/book_insert_page">Thêm sách mới</a><br>
          <a id="link-searchuser" href="/blacklist_manage_page">Quản lí danh sách đen</a>
				</div>
				<div class="main">
					<table>
            <tr>
              <td>Đơn mượn</td>
              <td>1234</td>
              <td>ID người mượn</td>
              <td>1234</td>
            </tr>
            <tr>
              <td>Ngày mượn</td>
              <td>12/10/2024</td>
              <td>Ngày trả</td>
              <td>12/11/2024</td>
            </tr>
            <tr>
              <td>Đã trả hết</td>
              <td><input type="checkbox"></td>
              <td>Đã đến nhận sách</td>
              <td><input type="checkbox" checked></td>
            </tr>
          </table>

          <table>
            <tr>
              <th>stt</th>
              <th>RentID</th>
              <th>RentlineID</th>
              <th>BookID</th>
              <th>Tên sách</th>
              <th>Đã trả</th>
              <th>Ngày trả</th>
              <th>Trạng thái sách (usability)</th>
            </tr>
            <tr>
              <td>1</td>
              <td>1234</td>
              <td>12345</td>
              <td>1234</td>
              <td>Bài giảng Giải tích I</td>
              <td onclick="alert('are you sure')"><input type="checkbox"></td>
              <td></td>
              <td><select>
                <option>tốt</option>
                <option>hư hỏng</option>
                <option>mất</option>
              </select></td>
            </tr>
            <tr>
              <td>2</td>
              <td>1234</td>
              <td>12346</td>
              <td>2346</td>
              <td>Bài giảng Đại số</td>
              <td><input type="checkbox" checked></td>
              <td>20/10/2024</td>
              <td><select>
                <option>tốt</option>
                <option>hư hỏng</option>
                <option>mất</option>
              </select></td>
            </tr>
            <tr>
              <td>3</td>
              <td>1234</td>
              <td>12347</td>
              <td>5555</td>
              <td>Cấu trúc dữ liệu và thuật toán</td>
              <td><input type="checkbox" checked></td>
              <td>21/10/2024</td>
              <td><select>
                <option>tốt</option>
                <option>hư hỏng</option>
                <option>mất</option>
              </select></td>
            </tr>
            <tr>
              <td>4</td>
              <td>1234</td>
              <td>12348</td>
              <td>7749</td>
              <td>Book name</td>
              <td><input type="checkbox"></td>
              <td></td>
              <td><select>
                <option>tốt</option>
                <option>hư hỏng</option>
                <option>mất</option>
              </select></td>
            </tr>
            <tr>
              <td>5</td>
              <td>1234</td>
              <td>12349</td>
              <td>1210</td>
              <td>Book name</td>
              <td><input type="checkbox" checked></td>
              <td>1/11/2024</td>
              <td><select>
                <option>tốt</option>
                <option>hư hỏng</option>
                <option>mất</option>
              </select></td>
            </tr>
          </table>

          <button>Lưu thay đổi</button>
				</div>

				<div class="right">
					<!-- <label for="id_rent"><b>ID đơn mượn</b></label>
					<input type="text" name="id_rent">
          
					<label for="id_book"><b>ID sách mượn</b></label>
					<input type="text" name="id_book">

					<label for="id_customer"><b>ID người mượn</b></label>
					<input type="text" name="id_customer">
					<label for="name_customer"><b>Họ tên người mượn</b></label>
					<input type="text" name="name_customer">

					<button type="submit">Tìm kiếm</button> -->

          <h2>Thông tin người mượn</h2>
          <table>
            <tr>
              <td>ID</td>
              <td>1234</td>
            </tr>
            <tr>
              <td>Tên</td>
              <td>Khánh</td>
            </tr>
            <tr>
              <td>Họ</td>
              <td>Nông Quốc</td>
            </tr>
            <tr>
              <td>Địa chỉ</td>
              <td>18 Giải Phóng, Đống Đa, Hà Nội</td>
            </tr>
            <tr>
              <td>SĐT</td>
              <td>0123456789</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>khanh.nq22@sis.hust.edu.vn</td>
            </tr>
            <tr>
              <td>Blocked</td>
              <td>false</td>
            </tr>
          </table>

				</div>
				
			</div>

			<script type="text/javascript">
			</script>

		</body>
		</html>