<!DOCTYPE html>
<html>
<head>
	<title>HUSTLib - Thư viện của sinh viên BKHN</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Verdana">
		<!-- <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
			<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'> -->
		</head>
		<body>

			<div class="banner">
				<img src="{{ url_for('static', filename='images/banner.png') }}" class="banner-image">
				<div class="banner-login">
          <a id="link-group" href="/search_rent_page">Quản lí</a>
					<a id="link-cart" href="/cart_page">Giỏ mượn</a>
					<a id="link-group" href="/chat_group_page">Hội nhóm</a>
					<a id="link-profile" href="/profile_page">Hồ sơ</a>
					<a id="link-login" href="/login_page">Đăng nhập</a>
					<a id="link-signup" href="/signup_page">Đăng ký</a>
				</div>
			</div>
			<div class="navbar">
				<a id="link-homepage" href="/">Trang chủ</a>
				<a id="link-intro" href="/intro_page">Giới thiệu</a>
				<!-- <a id="link-news" href="index.html">Tin tức</a> -->
				<a id="link-search" href="/search_page">Tra cứu</a>
				<a id="link-stats" href="/stats_page">Thống kê</a>
			</div>

			<div class="container">
				<div class="func">
					<a id="link-searchbook" href="/search_rent_page">Quản lí đơn mượn</a><br>
          <a id="link-searchuser" href="/book_manage_page">Cập nhật CSDL sách</a><br>
          <a id="link-searchuser" href="/book_insert_page">Thêm sách mới</a><br>
          <a id="link-searchuser" href="/blacklist_manage_page">Quản lí danh sách đen</a>
				</div>
				<div class="main">
          <div class="blacklist-item">
            <table>
              <tr>
                <th class="text-right">ID blacklist</th>
                <td>1234</td>
                <th class="text-right">ID đơn mượn</th>
                <td>1234</td>
              </tr>
              <tr>
                <th class="text-right">ID người mượn</th>
                <td>12</td>
                <th class="text-right">Họ và tên</th>
                <td>Phạm Trần Nguyên Quốc Phú</td>
              </tr>
              <tr>
                <th class="text-right">Phí phạt</th>
                <td>50000</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="text-right">Lí do</th>
                <td colspan="2"><input type="text"></td>
                <td><a>Lưu thay đổi lí do</a></td>
              </tr>
            </table>
          </div>

          <div class="blacklist-item">
            <table>
              <tr>
                <th class="text-right">ID blacklist</th>
                <td>1234</td>
                <th class="text-right">ID đơn mượn</th>
                <td>1234</td>
              </tr>
              <tr>
                <th class="text-right">ID người mượn</th>
                <td>12</td>
                <th class="text-right">Họ và tên</th>
                <td>Phạm Trần Nguyên Quốc Phú</td>
              </tr>
              <tr>
                <th class="text-right">Phí phạt</th>
                <td>50000</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="text-right">Lí do</th>
                <td colspan="2"><input type="text"></td>
                <td><a>Lưu thay đổi lí do</a></td>
              </tr>
            </table>
          </div>

          <div class="blacklist-item">
            <table>
              <tr>
                <th class="text-right">ID blacklist</th>
                <td>1234</td>
                <th class="text-right">ID đơn mượn</th>
                <td>1234</td>
              </tr>
              <tr>
                <th class="text-right">ID người mượn</th>
                <td>12</td>
                <th class="text-right">Họ và tên</th>
                <td>Phạm Trần Nguyên Quốc Phú</td>
              </tr>
              <tr>
                <th class="text-right">Phí phạt</th>
                <td>50000</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="text-right">Lí do</th>
                <td colspan="2"><input type="text"></td>
                <td><a>Lưu thay đổi lí do</a></td>
              </tr>
            </table>
          </div>

          
				</div>

				<div class="right">
					<label for="id_blacklist"><b>ID blacklist</b></label>
					<input type="text" name="id_blacklist">
          
					<label for="id_rent"><b>ID đơn mượn</b></label>
					<input type="text" name="id_rent">

					<label for="id_customer"><b>ID người mượn</b></label>
					<input type="text" name="id_customer">
					<label for="name_customer"><b>Họ tên người mượn</b></label>
					<input type="text" name="name_customer">

					<button type="submit">Tìm kiếm</button>
				</div>
				
			</div>

			<script type="text/javascript">
			</script>

		</body>
		</html>